<section>
  @for (task of taskResource.value()?.data; track task.id) {
    <app-task-card
      [initialState]="task"
      (deleted)="deleteTask()"></app-task-card>
  }
</section>

@if (taskResource.isLoading()) {
  <div class="shade">
    <mat-spinner />
  </div>
}

@if (taskResource.error()) {
  <p>Failed to retrieve tasks. Please try again.</p>
  <p>{{ taskResource.error()?.message }}</p>
  <button (click)="taskResource.refresh()">Refresh</button>
}

<mat-paginator
  [length]="taskResource.value()?.totalCount"
  [pageSize]="pageSize"
  (page)="handlePageEvent($event)"
  [hidePageSize]="true" />

<button (click)="openCreateDialog()" aria-label="Create Task" mat-fab>
  <mat-icon>add</mat-icon>
</button>
